
.post__image{ 
  margin-right: 30px;
}
.flex {
  display: flex;
}
.jcsb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.container{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
.fww{
  flex-wrap: wrap;
}
.jcc{
  justify-content: center;
}
.fxdc{
  flex-direction: column;
}

/* @media (max-width: 1200px){
  .container{
    opacity: 0.3;
  }
} */